    
    button {
        outline: none;
    }
    
    .addBlackUser {
        width: 60px;
    }
    .jumbotron {
        padding: 5px;
        margin-bottom: 15px;
        text-align: center;
        background: rgb(33, 33, 33);
        color: #fff;
        border-radius: 0 !important;
        border: solid 1px rgb(33, 33, 33);
    }
    .jumbotron strong {
        color: rgb(255, 0, 53);
    }
    .list-group-item img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .list-group-item span {
        margin-left: 10px;
    }
    .main .panel-body {
        height: 564px;
        overflow-y: scroll;
    }
    img {
        border-radius: 50%
    }
    .media {
        padding: 5px 15px;
        border: 1px #ddd solid;
        border-radius: 5px;
    }
    .black-user-list .list-group {
        /*max-height: 134px;*/
        overflow: scroll;
    }
    .black-user-list strong {
        margin-left: 15px;
        font-size: 18px;
        line-height: 20px;
        vertical-align: middle;
    }
    .black-words-list strong {
        margin: 10px 2px;
        padding: 1px 5px;
        font-size: 16px;
        line-height: 30px;
        font-weight: normal;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: block;
        float: left;
    }
    .black-words-list span:hover {
        
    }
    .black-words-list .panel-body {
        padding: 0 5px;
    }
    .media img {
        width: 60px;
        height: 60px;
    }
    .media p {
        margin-top: 10px;
    }
    .media .btn-danger {
        min-width: 60px;
    }
    .media button {
        margin-right: 5px;
    }
    .media strong {
        font-size: 18px;
    }
    .count-barrage .list-group-item {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 4px;
        padding: 5px 15px;
    }
    .count-barrage .badge {
        font-size: 16px;
    }
    .list-group-item:first-child .badge{
        background: #2B5F75;
    }
    .list-group-item:last-child .badge{
        background: #5DAC81;
    }
    
    .button-small {
        padding: 0 15px;
    }
    .panel-heading {
        border-color: #e1e1e1;
        border-width: 1px;
        background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e1e1e1));
        background: linear-gradient(#f6f6f6, #e1e1e1);
        padding: 9px 15px;
        font-weight: bold;
        font-size: 16px;
    }
    .panel-footer {
        background: transparent;
    }
    footer {
        width: 100%;
        color: #333;
        text-align: center;
        font-size: 12px;
    }
    footer a {
        color: #333;
        text-decoration: none;
    }
