<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404</title>
	<link rel="stylesheet" href="css/404.css">
	<script src="js/lib/jquery-2.1.3.min.js"></script>
	<script src="js/404.js"></script>
</head>
<body>
<div id="content" class="cf">
	<div id="duobei_wrap">
		<div class="logo_wrap cf">
			<div id="title">
				<i>红</i>
				<i>岩</i>
				<i>网</i>
				<i>校</i>
				<i>弹</i>
				<i>幕</i>
				<i>系</i>
				<i>统</i>
			</div>
		</div>
		<div class="reason">
			<p class="not_found_tip">Not Found  :( 很抱歉，您访问的页面不存在!</p>
			<p class="possible">可能原因：</p>
			<ul>
				<li>该数据或课程已被删除，但却被搜索引擎收录了，通过搜索引擎访问就会看到此页面</li>
				<li>您手动输入了一个从来没有的访问url，这样系统也是无法识别您的url，报错</li>
			</ul>
		</div>
	</div>

	<!-- #duobei_wrap -->
	<div class="line"></div>

	<div class="not_found">
		<i class="ribbon"></i>
		<div class="not_found_404 cf">
			<span>4</span>
			<span>0</span>
			<span>4</span>
		</div>
		<div class="btn">
			<a href="javascript:void(0)" class="button button-rounded">看看首页</a>
			<a href="#" class="button button-rounded cancle">返回上页</a>
		</div>   
	</div>
	<!-- not_found -->

</div>
</body>
</html>